.login__container__resetPassword {
	font-size: 15px;
}

.login__container__loginButton {
	width: 100%;
	border: none;
	color: black;
	font-weight: 500;
	background-color: #f6e199;
}

.login__container__loginButton:hover {
	background-color: #e9c46a;
	transition: all 0.1s ease-out;
}

.inputField {
	width: 100%;
}
