.userDashboard__offcanvas__trigger {
	border: none;
	background-color: #f8f9fa;
}

.offcanvas__body__header__name {
	font-size: 20px;
	font-weight: 700;
}

.offcanvas__body__header__username {
	color: #36454f;
}

.offcanvas__body__boards__button {
	width: 100%;
	border: none;
	background-color: white;
	color: #181936;
}

.offcanvas__body__boards__button:hover {
	background-color: #e5e4e2;
}
