.userPetShow__cardShow {
	background-color: #e5e4e2;
}

.userPetShow__noPet__card {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 400px;
}

.userPetShow__noPet__card {
	background-color: #fffafa;
}
