@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
	color: #0f0f0f;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--primary-font: 'Roboto Condensed', sans-serif;
	--secondary-font: 'Roboto', sans-serif;
}

.peach-color {
	background-color: #e2dfd2;
}

.box-container {
	background-color: #ffffff;
	padding: 2rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shadow-1 {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.truncate-text{
	width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}