@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
	color: #0f0f0f;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--primary-font: 'Roboto Condensed', sans-serif;
	--secondary-font: 'Roboto', sans-serif;
}

body {
	background-color: #e2dfd2;
}

.box-container {
	background-color: #fffff0;
	padding: 2rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
