.signup__container__signupButton {
	width: 100%;
	border: none;
	color: black;
	font-weight: 500;
	background-color: #f6e199;
}

.signup__container__signupButton:hover {
	background-color: #e9c46a;
	transition: all 0.1s ease-out;
}

.inputField {
	width: 100%;
	padding: 6px;
}
