.signup__container {
	width: 80vw;
	border-radius: 15px;
}

.signup__container__illustration {
	min-width: 50%;
}

.signup__container__form {
	min-width: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 15px;
}

.signup__container__form__header {
	font-size: 40px;
	font-weight: 500;
}

.signup__container__footer {
	color: #778899;
	font-size: 15px;
}
