.adoptionPetCard {
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adoptionPetCard__description {
	background-color: #e3fcbf;
}

.petCard__attributes {
	width: 100%;
}

.adoptionPetCard__attributes__weight {
	text-align: center;
	width: 30%;
	border-radius: 8px;
	background-color: #ffcc2f;
	height: 60px;
	background-image: linear-gradient(62deg, #ffcc2f 0%, #ef5734 100%);
}

.adoptionPetCard__attributes__sex {
	text-align: center;
	width: 30%;
	border-radius: 8px;
	background-color: #83eaf1;
	height: 60px;
	background-image: linear-gradient(62deg, #83eaf1 0%, #63a4ff 100%);
}

.adoptionPetCard__attributes__age {
	text-align: center;
	width: 30%;
	border-radius: 8px;
	background-color: #cef576;
	height: 60px;
	background-image: linear-gradient(62deg, #cef576 0%, #84fb95 100%);
}

.adoptionPetCard__options {
	width: 100%;
}

.pet__attributes__title {
	font-size: 16px;
	font-weight: 500;
}

.pet__attributes__value {
	font-size: 14px;
	font-weight: 400;
}

.adoptionPetCard__options__delete {
	border: none;
	background-color: white;
}

.adoptionPetCard__options__breed {
	font-size: 14px;
	font-weight: 500;
}

.adoptionPetCard__ownerName {
	width: 100%;
}
